################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WEB_LESSON/FileContentIndex
/.vs/
/.vs/slnx.sqlite
