.activeMenu {
    width: 53px;
    height: 25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: 0.02em;
    /* Black */

    color: #070707;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.inactMenu {
    width: 86px;
    height: 25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: 0.02em;
    color: #828282;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
