*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

.wrapper{  
  background-color: lightskyblue;
}

html{
  scroll-behavior: smooth;
}

.content{
  height: 500px;
  background-color: lightcoral;
  margin-block-end: 30px;
  border: 2px;
  border-color: black;
}